.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.full-viewport {
    display: flex;
    width: 100vw;
    height: 100vh;
}
